* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  line-height: 1.8;
  word-wrap: break-word;
  font-variation-settings: 'wght' var(--font-weight, 400),
    'wdth' var(--font-width, 80);
}

@media screen and (max-width: 800px) {
  html {
    font-size: 0.8rem;
  }
}

body {
  font-family: alaska, sans-serif;
}

p {
  font-size: 1.25rem;
  --font-weight: 400;
  color: var(--color-neutral-8);
}

a {
  display: inline-block;
  font-size: 1.5rem;
  --font-weight: 700;
  text-decoration: none;
  color: var(--color-neutral-8);
}

h1 {
  font-size: 4rem;
  --font-weight: 700;
  line-height: 1;
  color: var(--color-neutral-9);
}

h2 {
  font-size: 2.5rem;
  --font-weight: 700;
  color: var(--color-neutral-7);
}

h3 {
  font-size: 1.75rem;
  --font-weight: 600;
  color: var(--color-neutral-8);
}

h1,
h2,
h3 {
  line-height: 1;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.section {
  padding: 5rem 0;
}

.section h2 + * {
  margin-top: 3rem;
}

.head-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-transparent-2);
  background-blend-mode: overlay;
}
